## 京都工芸繊維大学　：　機械工学課程の科目
Extract `(TIMETABLE NUMBER,COURSE TITLE,CREDITS,YEAR,SEMESTER)` (日本語) from the website.

<br>
<hr>
<br>

In [1]:
from bs4 import BeautifulSoup
import requests as r
import re

In [2]:
url = 'https://www.syllabus.kit.ac.jp/?c=search_list&sk=99&dc=01&ac=05&sc=040&page=1' # single page only
response = r.get(url).text
soup = BeautifulSoup(response,'lxml')
print(r.get(url))

<Response [200]>

**Python split string into strings with same language characters :**
- reference = https://stackoverflow.com/questions/25155279/python-split-string-into-strings-with-same-language-characters

In [3]:
# COURSE TITLE
courseName =[]
for x in soup.find_all('tr'):
    if x.a != None:
        title = x.find('form').a.text
        course_title = re.split(r'([a-zA-Z]+)', title)[0]
        courseName.append(course_title)
        print(course_title)

地域創生課題セミナーⅠ
ものづくりインターンシップⅠ
卒業プロジェクト
地域創生課題セミナーⅡ
ものづくりインターンシップⅡ
ものづくりインターンシップⅢ
工業力学Ⅰ
工業力学Ⅰ
工業力学Ⅱ
工業力学Ⅱ
材料力学Ⅰ及び演習
材料加工プロセス
計測基礎学
工業材料学
材料力学Ⅱ及び演習
機械力学Ⅰ及び演習
機械加工法及び実習
機械製図法Ⅰ
熱力学Ⅰ及び演習
システム制御理論（機）

In [4]:
## TIMETABLE NUMBER
classID= []
for x in soup.find_all('tr'):
    if x.a != None:
        class_id = x.find('td').text
        classID.append(class_id)
        print(class_id)

11129904
11129905
12339903
11319902
-
-
12312301
12312501
12323101
12323201
12325301
12325501
12325101
12311501
12312401
12315301
12315401
12311401
12311301
12325302

**Find index of tag with certain text in beautifulsoup/python:**
- reference : https://stackoverflow.com/questions/33095297/find-index-of-tag-with-certain-text-in-beautifulsoup-python

In [5]:
## CREDITS
cred_list=[]
for y in soup.find('table',class_='gen_tbl2 data_list_tbl').find_all('tr'):
    if y != None:
        credits = y.find_all('td')
        for x in credits[4:5]:
            data = {}
            print(x.text)
            data['Credit'] = x.text
            cred_list.append(int(x.text)) #change string to integer for credits.

2
4
8
2
4
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [6]:
cred_list

[2, 4, 8, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [7]:
## Year
year_list=[]
for y in soup.find('table',class_='gen_tbl2 data_list_tbl').find_all('tr'):
    if y != None:
        year = y.find_all('td')
        for x in year[6:7]:
            print(x.text[0])
            data['Year'] = x.text[0]
            year_list.append(x.text[0])

３
３
４
４
４
４
１
１
１
１
１
１
１
２
２
２
２
２
２
２

In [8]:
year_list

['３',
 '３',
 '４',
 '４',
 '４',
 '４',
 '１',
 '１',
 '１',
 '１',
 '１',
 '１',
 '１',
 '２',
 '２',
 '２',
 '２',
 '２',
 '２',
 '２']

In [9]:
## SEMESTER
sem_list=[]
for y in soup.find('table',class_='gen_tbl2 data_list_tbl').find_all('tr'):
    if y != None:
        sm = y.find_all('td')
        for x in sm[7:8]:
            y = x.text
            sem =  re.split(r'([a-zA-Z]+)', y)[0]
            data['Semester'] = sem
            sem_list.append(sem)
            print(sem)

第3ｸｫｰﾀ
第4ｸｫｰﾀ
通年
第1ｸｫｰﾀ
第2ｸｫｰﾀ
第2ｸｫｰﾀ
前学期
前学期
後学期
後学期
後学期
後学期
後学期
前学期
前学期
前学期
前学期
前学期
前学期
後学期

In [10]:
sem_list

['第3ｸｫｰﾀ',
 '第4ｸｫｰﾀ',
 '通年',
 '第1ｸｫｰﾀ',
 '第2ｸｫｰﾀ',
 '第2ｸｫｰﾀ',
 '前学期',
 '前学期',
 '後学期',
 '後学期',
 '後学期',
 '後学期',
 '後学期',
 '前学期',
 '前学期',
 '前学期',
 '前学期',
 '前学期',
 '前学期',
 '後学期']

<hr>

### Create Data Frame (TIMETABLE NUMBER,COURSE TITLE,CREDITS,YEAR,SEMESTER)

In [12]:
import pandas as pd
import numpy as np

**How to Create Pandas Dataframe from Multiple Lists?**
- reference : https://cmdlinetips.com/2018/01/how-to-create-pandas-dataframe-from-multiple-lists/

In [28]:
data = {'Timetable number' : classID,
       'Course name': courseName,
        'Credits' : cred_list,
        'Year' : year_list,
        'Semester' : sem_list
       }

In [29]:
df = pd.DataFrame(data=data)
df.head(40)

   Timetable number     Course name  Credits Year Semester
0          11129904     地域創生課題セミナーⅠ        2    ３   第3ｸｫｰﾀ
1          11129905  ものづくりインターンシップⅠ        4    ３   第4ｸｫｰﾀ
2          12339903        卒業プロジェクト        8    ４       通年
3          11319902     地域創生課題セミナーⅡ        2    ４   第1ｸｫｰﾀ
4                 -  ものづくりインターンシップⅡ        4    ４   第2ｸｫｰﾀ
5                 -  ものづくりインターンシップⅢ        2    ４   第2ｸｫｰﾀ
6          12312301           工業力学Ⅰ        2    １      前学期
7          12312501           工業力学Ⅰ        2    １      前学期
8          12323101           工業力学Ⅱ        2    １      後学期
9          12323201           工業力学Ⅱ        2    １      後学期
10         12325301       材料力学Ⅰ及び演習        2    １      後学期
11         12325501        材料加工プロセス        2    １      後学期
12         12325101           計測基礎学        2    １      後学期
13         12311501           工業材料学        2    ２      前学期
14         12312401       材料力学Ⅱ及び演習        2    ２      前学期
15         12315301       機械力学Ⅰ及び演習        2    ２      前学期
16         12315401       機械加工法及び実習        2    ２      前学期
17         12311401          機械製図法Ⅰ        2    ２      前学期
18         12311301        熱力学Ⅰ及び演習        2    ２      前学期
19         12325302     システム制御理論（機）        2    ２      後学期

In [23]:
df.dtypes

Course name         object
Timetable number    object
Credits              int64
Year                object
Semester            object
dtype: object

In [24]:
df.shape

(20, 5)

<hr>

### Save as csv file or excel file

In [30]:
df.to_csv('output.csv',index=False,header=True)